*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
background-color: #588157;
}
.container{
    width: 80%;
    margin: auto;
    
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header .title span{
    color: #43633A;
}
.header h1{
    word-spacing: 10px;
    font-size: 100px;
    margin-top: 80px;
}

.header img{
    height: 500px;
    width: 450px;
    margin-top: -20px;
}
.progress-bar {
    width: 500px;
    height: 70px;
    background-color: #e0e0e0;
    border-radius: 30px;
    overflow: hidden;
    margin: auto;
    margin-top: 30px;
}
  
  .progress {
    height: 100%;
    background-color:#022209;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .progress-text {
    color: white;
    font-weight: bold;
    font-size: 35px;
  }
.goal{
    background-color: #A3B18A;
    border-radius: 30px;
font-size: 40px;
text-align: center;
width: 400px;   
margin-bottom: 30px;
}

.goal p{
    display: inline-block;
}
.btn{
    margin: auto;
    margin-top: 40px;
    
    text-align: center;
}
.btn button{
    font-size: 30px;
    border-radius: 20px;
    border: none;
    height: 50px;
    padding: 5px 50px;
    margin: auto;
    margin-bottom: 30px;
}
.plant-list{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    justify-content: space-between;
}
img{
    height: 300px;
    width: 150px;
}
.plant{
    height: 700px;
    width: 400px;
    text-align: center;
    background-color: #3A5A40;
    border-radius: 40px 40px 40px 40px;
    overflow: hidden;
    
}
.plant-1{
    background-color: #022209;
    border-radius: 40px;
}
.plant-2{
    font-size: 30px;
    background-color: #3A5A40;
}
.plant-2 h3,p{
        margin-top: 20px;
}
.plant-2 p{
    margin-bottom: 25px;
}
.price{
    background-color: #e0e0e0;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    margin: auto;
    padding-top: 5px;
    cursor: pointer;
}
.price i{
    font-size: 30px;
}
.price:hover{
    opacity: 0.7;
}